* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Lobster", sans-serif;
  font-family: "Rubik", sans-serif;
}
/* ------main colour------- */
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* ------------navbar------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

/* Child combinator */
.navbar a {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.5s;
}

/* Negation pseudo class */

.navbar a:not(.active) {
  /* Your styles here */
  color: #ffffff;
}

/* User action pseudo class */

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

/* ----------button--------- */

.btn {
  font-size: large;
  text-align: center;
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
}

span {
  color: var(--main-color);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

/* 3 line icon */
#menu-icon {
  font-size: 3.6rem;
  display: none;
}

/* -------fotter----------- */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background-color: var(--second-bg-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  transition: 0.5s ease;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

/* -----------------home css----------------------------- */

/* 3 line icon */
#menu-icon {
  font-size: 3.6rem;
  display: none;
}

a[target] {
  border: 0.2rem solid var(--main-color);
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-content h3 {
  font-size: 3.2rem;
}

/* Nth pseudo class */
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
.home-content span {
  color: transparent;
  -webkit-text-stroke: 0.09px var(--main-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  position: relative;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}

.home-content span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid var(--main-color);
  z-index: -1;
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
}

@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -33rem 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }
  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

/* text effect */
.home-content p {
  font-size: 2rem;
  word-break: keep-all;
  width: 70%;
}

/* icons */
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1 rem var(--main-color);
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.4rem);
  }

  100% {
    transform: translateY(0);
  }
}

.home-img img {
  width: 35vw;
  animation: floatImage 4s ease-in-out infinite;
}

.home-content span::before {
  border-right: none;
}

@media screen and (max-width: 768px) {
  .home {
    flex-direction: column-reverse;
  }
  .hide-on-phone {
    display: none;
  }

  .home-content {
    margin-left: 25%;
    margin-bottom: 20%;
  }
  .home-content h1 {
    font-size: 3.6rem;
  }

  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    margin: 3.2rem 0;
    font-size: 2rem;
  }
}

/* ======================= About css ========================== */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
  max-height: 100vh;
}

/* text effect */

/* .long-text {
  width: 75%;
  word-break: keep-all;
} */

/* imge */

.about-img img {
  width: 30vw;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content {
  font-size: large;
  margin-left: 3%;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 3.6rem;
}

.about-content p {
  font-size: 2.6rem;
  margin: 1.5rem 0 3rem;
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }
  .home {
    margin-top: 20px;
  }

  .about-img img {
    width: 50vw;
  }

  .about-content {
    margin-left: 25%;
  }

  .about-content p {
    font-size: 1.8rem;
  }
}

/* ========================= BLog css ============================ */

/* services section */

.blog h2 {
  margin-bottom: 5rem;
}

.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.blog-container .blog-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.blog-container .blog-box:hover {
  border-color: var(--main-color);
  transform: scale(1);
}

.blog-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.blog-box h3 {
  font-size: 3.6rem;
}

.blog-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
.blog-box ul {
  list-style-type: none;
  font-size: 2rem;
  margin: 0.3rem 0 1rem;
  color: var(--text-color);
}

.blog-box a {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .blog-container .blog-box {
    height: 350px;
    width: 1000px;
    margin-top: 15%;
  }
}
/* ============================ latest project ===========================*/

.latest {
  background: var(--second-bg-color);
  /* margin-bottom: 3rem; */
}

.latest h2 {
  margin-bottom: 5rem;
  
}
.latest-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.latest-container .latest-box {
  position: relative;
  background: var(--bg-color);
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--main-color);
  overflow: hidden;
  display: flex;
}
.latest-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.latest-box:hover img {
  transform: scale(1.1);
}

.latest-box .latest-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.latest-box:hover .latest-layer {
  transform: translateY(0);
}

.latest-layer h4 {
  font-size: 3rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.latest-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.latest-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.latest-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

@media (max-width: 768px) {
  .latest-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .latest h2{
    margin-top: 3rem;
  }
  
}
@media (max-width: 991px) {
  .latest{
    padding-bottom:7rem;}


}
@media (max-width: 617px) {
  
  .latest-container {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* ============================ Connect css ===========================*/

.contact form {
  max-width: 70rem;
  margin: 5rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  background: var(--second-bg-color);
}

.contact form .input-box input {
  width: 48%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

/* valid checker in connect */

/* Style the input field when it's valid */
input:valid {
  border-color: green;
}

/* Style the input field when it's invalid */
input:invalid {
  border-color: red;
}

/* back to top button */
.gotopbtn {
  position: fixed;
  width: 30px;
  height: 30px;
  background: var(--main-color);
  bottom: 60px;
  right: 10px;
  text-decoration: none;
  text-align: center;
  /* line-height: 50px; */
  color: #ffffff;
  font-size: 22px;
}
.footer {
  background-color: #0d0d0d;
  padding: 10px 0;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
  color: white;
  text-align: center;
  padding-left: 20px;
}
.footer p {
  display: inline;
}
.footer a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
